<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div class="bg top" >
        <h1 class="center title">
            Hospital
        </h1>
    </div>

    <div class="bg bottom">
    </div>

    <div class="center circle">
        <a href="{% url 'Hospital-Home' %}">
            <button class="ripple center circle">
                <img class="login-img" src="../../static/images/login.svg" alt="Login"/>
            </button>
        </a>
    </div>
</body>
</html>