<div class="container fixed-bottom bg-dark m-0 p-3 mw-100">
    <div class="well well-sm quick-contact">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="title-contact text-light">Contact us</h3>
                    </div>
                    <div class="col-md-4 contact-email">
                        <p class="text-light">info@website.com</p>
                        <p class="text-light">+12 34567890, +12 34567890</p>
                    </div>
                    <div class="col-md-4">
                        <div class="row contact row-first">
                            <div class="col-md-6">
                                <a href="http://www.jquery2dotnet.com" class="facebook"><i class="fa fa-skype"></i>Facebook</a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://www.jquery2dotnet.com" class="google"><i class="fa fa-google-plus"></i>Google Plus</a>
                            </div>
                        </div>
                        <div class="row contact">
                            <div class="col-md-6">
                                <a href="http://www.jquery2dotnet.com" class="linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://www.jquery2dotnet.com" class="twitter"><i class="fa fa-twitter"></i>Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
